:root{
    --main-color: #fed136;
    --color-form: #bbbbbb;
    --color-description: #777777;
    --color-black:#111;
    --color-white:#fff;
    --background-color:#222222;
    --title-size: 40px;
    --description-size: 16px;
    --subtitle-size: 18px;
    --min-size: 14px;
    --logo-size: 26px;